<style>
    .table > thead > tr > th {
        background-color: #272727;
        color: white;
    }
  
</style>


<section class="content-header">
    <h1>
        Dashboard
    </h1>  
</section>
<section class="content">
    

</section>

@section scripts{

   
}