@model AuthorizationProxy.AGS_LoginUserInfo

<div class="user-panel">
    <div class="pull-left image">
        <span style="color:white">Welcome</span>
        <span style="color:white;padding-left:5px">@Model.UserName</span>
    </div>

</div>

